USE [master]
GO
/****** Object:  Database [sahlB2B]    Script Date: 11/15/2017 12:23:55 PM ******/
CREATE DATABASE [sahlB2B]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sahlB2B', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\sahlB2B.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'sahlB2B_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\sahlB2B_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sahlB2B].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sahlB2B]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 11/15/2017 12:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CountryId] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Buyer_OrderDetailsMapping]    Script Date: 11/15/2017 12:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyer_OrderDetailsMapping](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderDetailID] [bigint] NULL,
	[BuyerID] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
 CONSTRAINT [PK_Buyer_OrderDetailsMapping] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/15/2017 12:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Country]    Script Date: 11/15/2017 12:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LanguageForm]    Script Date: 11/15/2017 12:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanguageForm](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](50) NULL,
	[Key] [nvarchar](50) NULL,
	[LanguageId] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_MultilingualFields] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Model]    Script Date: 11/15/2017 12:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[BrandID] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_Model] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 11/15/2017 12:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[UserId] [bigint] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OffersRequest]    Script Date: 11/15/2017 12:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OffersRequest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[UserId] [bigint] NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_OffersRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 11/15/2017 12:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderID] [bigint] NULL,
	[Price] [decimal](18, 2) NULL,
	[Image] [nvarchar](500) NULL,
	[SellerID] [bigint] NULL,
	[TotalPrice] [decimal](18, 2) NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/15/2017 12:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BrandID] [bigint] NULL,
	[ModelID] [bigint] NULL,
	[CategoryID] [bigint] NULL,
	[PartName] [nvarchar](50) NULL,
	[Qty] [int] NULL,
	[Status] [int] NULL,
	[CreatedBy] [bigint] NULL,
	[Createdon] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
	[Updatedby] [bigint] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permission]    Script Date: 11/15/2017 12:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Permission](
	[Id] [int] NOT NULL,
	[Name] [varchar](150) NULL,
	[Status] [bit] NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 11/15/2017 12:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rating] [decimal](18, 0) NULL,
	[Comment] [nvarchar](max) NULL,
	[UserId] [bigint] NULL,
	[SellerId] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/15/2017 12:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role_PermissionMapping]    Script Date: 11/15/2017 12:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_PermissionMapping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PermissionId] [int] NULL,
	[RoleId] [bigint] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Role_PermissionMapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SellerAdvertise]    Script Date: 11/15/2017 12:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SellerAdvertise](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BrandId] [bigint] NULL,
	[ModelId] [bigint] NULL,
	[CategoryId] [bigint] NULL,
	[Name] [nvarchar](150) NULL,
	[ActualPrice] [decimal](18, 0) NULL,
	[DiscountPrice] [decimal](18, 0) NULL,
	[UserId] [bigint] NULL,
	[Image] [varbinary](max) NULL,
	[CreatedDate] [datetime] NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_SellerAdvertise] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/15/2017 12:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[EmailID] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[MobileNo] [nvarchar](50) NOT NULL,
	[RoleID] [bigint] NULL,
	[BrandId] [bigint] NULL,
	[Latitude] [nvarchar](50) NULL,
	[Longitude] [nvarchar](50) NULL,
	[Address] [text] NULL,
	[ImageUpload] [varbinary](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[Createdby] [bigint] NULL,
	[OtpPassword] [nvarchar](50) NULL,
	[OtpGeneratedTime] [datetime] NULL,
	[IsOtpCheck] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([ID], [Name], [CountryId], [CreatedOn], [CreatedBy]) VALUES (20014, N'BMW', 10, CAST(N'2017-10-15 14:25:06.177' AS DateTime), NULL)
INSERT [dbo].[Brand] ([ID], [Name], [CountryId], [CreatedOn], [CreatedBy]) VALUES (20015, N'Volkswagon', 10, CAST(N'2017-10-15 14:25:17.610' AS DateTime), NULL)
INSERT [dbo].[Brand] ([ID], [Name], [CountryId], [CreatedOn], [CreatedBy]) VALUES (20016, N'TATA Motors', 1, CAST(N'2017-10-15 14:26:15.243' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Brand] OFF
SET IDENTITY_INSERT [dbo].[Buyer_OrderDetailsMapping] ON 

INSERT [dbo].[Buyer_OrderDetailsMapping] ([ID], [OrderDetailID], [BuyerID], [CreatedOn], [CreatedBy]) VALUES (50008, 40019, 20034, CAST(N'2017-10-17 21:13:41.840' AS DateTime), NULL)
INSERT [dbo].[Buyer_OrderDetailsMapping] ([ID], [OrderDetailID], [BuyerID], [CreatedOn], [CreatedBy]) VALUES (50009, 40018, 20034, CAST(N'2017-10-17 21:27:11.223' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Buyer_OrderDetailsMapping] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name], [CreatedOn]) VALUES (10010, N'Tyres', CAST(N'2017-10-15 14:26:32.030' AS DateTime))
INSERT [dbo].[Category] ([ID], [Name], [CreatedOn]) VALUES (10011, N'Gear Box', CAST(N'2017-10-15 14:26:46.187' AS DateTime))
INSERT [dbo].[Category] ([ID], [Name], [CreatedOn]) VALUES (10012, N'Engine Oil', CAST(N'2017-10-15 14:26:57.090' AS DateTime))
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([Id], [Name], [CreatedDate]) VALUES (1, N'India', CAST(N'2017-10-09 00:00:00.000' AS DateTime))
INSERT [dbo].[Country] ([Id], [Name], [CreatedDate]) VALUES (2, N'Yeman', CAST(N'2017-10-09 00:00:00.000' AS DateTime))
INSERT [dbo].[Country] ([Id], [Name], [CreatedDate]) VALUES (3, N'Saudi Arabia', CAST(N'2017-10-09 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Country] OFF
SET IDENTITY_INSERT [dbo].[LanguageForm] ON 

INSERT [dbo].[LanguageForm] ([ID], [Value], [Key], [LanguageId], [CreatedOn], [CreatedBy], [IsActive]) VALUES (1, N'كونتري نيم', N'CountryName', 2, NULL, NULL, 1)
INSERT [dbo].[LanguageForm] ([ID], [Value], [Key], [LanguageId], [CreatedOn], [CreatedBy], [IsActive]) VALUES (2, N'Country Name', N'CountryName', 1, NULL, NULL, 1)
INSERT [dbo].[LanguageForm] ([ID], [Value], [Key], [LanguageId], [CreatedOn], [CreatedBy], [IsActive]) VALUES (3, N'Country', N'Country', 1, NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[LanguageForm] OFF
SET IDENTITY_INSERT [dbo].[Model] ON 

INSERT [dbo].[Model] ([ID], [Name], [BrandID], [CreatedOn]) VALUES (10008, N'BMW 5 ', 20014, CAST(N'2017-10-15 19:53:50.280' AS DateTime))
INSERT [dbo].[Model] ([ID], [Name], [BrandID], [CreatedOn]) VALUES (10009, N'BMW i8', 20014, CAST(N'2017-10-15 19:54:02.407' AS DateTime))
INSERT [dbo].[Model] ([ID], [Name], [BrandID], [CreatedOn]) VALUES (10010, N'BMW X1', 20014, CAST(N'2017-10-15 19:54:15.240' AS DateTime))
SET IDENTITY_INSERT [dbo].[Model] OFF
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [Message], [UserId], [CreatedDate]) VALUES (1, N'sultanhas responded to your request 40045.Please contact the seller and close the Deal.
 Thank you', 20034, CAST(N'2017-10-19 19:26:49.780' AS DateTime))
INSERT [dbo].[Notifications] ([Id], [Message], [UserId], [CreatedDate]) VALUES (2, N'Mouzam has responded to your request 40045.Please contact the seller and close the Deal.
 Thank you', 20034, CAST(N'2017-10-19 19:26:49.780' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([ID], [OrderID], [Price], [Image], [SellerID], [TotalPrice]) VALUES (40018, 40040, CAST(5000.00 AS Decimal(18, 2)), N'images383517905.jpg', 20038, CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([ID], [OrderID], [Price], [Image], [SellerID], [TotalPrice]) VALUES (40019, 40041, CAST(6000.00 AS Decimal(18, 2)), N'images111294785.jpg', 20038, CAST(6000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([ID], [OrderID], [Price], [Image], [SellerID], [TotalPrice]) VALUES (40020, 40040, CAST(50000.00 AS Decimal(18, 2)), N'images887765855.jpg', 20041, CAST(100000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID], [BrandID], [ModelID], [CategoryID], [PartName], [Qty], [Status], [CreatedBy], [Createdon], [UpdatedOn], [Updatedby]) VALUES (40040, 20014, 10008, 10010, N'Front Tyres', 2, 2, 20034, CAST(N'2017-10-15 19:57:33.050' AS DateTime), CAST(N'2017-10-17 21:27:11.553' AS DateTime), 20034)
INSERT [dbo].[Orders] ([ID], [BrandID], [ModelID], [CategoryID], [PartName], [Qty], [Status], [CreatedBy], [Createdon], [UpdatedOn], [Updatedby]) VALUES (40041, 20015, 10011, 10012, N'Engine Oil', 1, 2, 20034, CAST(N'2017-10-15 19:57:33.090' AS DateTime), CAST(N'2017-10-17 21:13:43.213' AS DateTime), 20034)
INSERT [dbo].[Orders] ([ID], [BrandID], [ModelID], [CategoryID], [PartName], [Qty], [Status], [CreatedBy], [Createdon], [UpdatedOn], [Updatedby]) VALUES (40042, 20015, 10011, 10010, N'back left tyre', 1, 1, 20034, CAST(N'2017-10-19 16:13:59.087' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
INSERT [dbo].[Permission] ([Id], [Name], [Status], [ParentId]) VALUES (1, N'CountryAdd', 1, 1)
INSERT [dbo].[Permission] ([Id], [Name], [Status], [ParentId]) VALUES (2, N'CountryRemove', 1, 1)
INSERT [dbo].[Permission] ([Id], [Name], [Status], [ParentId]) VALUES (3, N'CountryEdit', 1, 1)
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [Rating], [Comment], [UserId], [SellerId], [CreatedOn]) VALUES (4009, CAST(5 AS Decimal(18, 0)), N'excellent Job', 20034, 20038, CAST(N'2017-10-17 21:59:01.857' AS DateTime))
INSERT [dbo].[Reviews] ([Id], [Rating], [Comment], [UserId], [SellerId], [CreatedOn]) VALUES (4010, CAST(5 AS Decimal(18, 0)), N'Excellent Job', 20034, 20038, CAST(N'2017-10-17 22:09:02.737' AS DateTime))
INSERT [dbo].[Reviews] ([Id], [Rating], [Comment], [UserId], [SellerId], [CreatedOn]) VALUES (4011, CAST(4 AS Decimal(18, 0)), N'Excellent Work done', 20034, 20038, CAST(N'2017-10-17 22:16:50.457' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (2, N'Buyer')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (3, N'Seller')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Role_PermissionMapping] ON 

INSERT [dbo].[Role_PermissionMapping] ([Id], [PermissionId], [RoleId], [CreatedDate]) VALUES (54, 19, 2, CAST(N'2017-10-12 21:43:52.777' AS DateTime))
INSERT [dbo].[Role_PermissionMapping] ([Id], [PermissionId], [RoleId], [CreatedDate]) VALUES (55, 21, 2, CAST(N'2017-10-12 21:44:11.280' AS DateTime))
INSERT [dbo].[Role_PermissionMapping] ([Id], [PermissionId], [RoleId], [CreatedDate]) VALUES (66, 28, 2, NULL)
SET IDENTITY_INSERT [dbo].[Role_PermissionMapping] OFF
SET IDENTITY_INSERT [dbo].[SellerAdvertise] ON 

SET IDENTITY_INSERT [dbo].[SellerAdvertise] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Name], [EmailID], [Password], [MobileNo], [RoleID], [BrandId], [Latitude], [Longitude], [Address], [ImageUpload], [IsActive], [CreatedOn], [Createdby], [OtpPassword], [OtpGeneratedTime], [IsOtpCheck]) VALUES (20037, N'Super Admin', N'superadmin@harbor.com', N'1234', N'8143808966', 3, NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([ID], [Name], [EmailID], [Password], [MobileNo], [RoleID], [BrandId], [Latitude], [Longitude], [Address], [ImageUpload], [IsActive], [CreatedOn], [Createdby], [OtpPassword], [OtpGeneratedTime], [IsOtpCheck]) VALUES (20038, N'Test Seller', N'salman@gmail.com', N'1234', N'9966705335', 3, 20014, N'17.4000418', N'78.4134582', N'Tolichowki ,Hyderabad', NULL, 1, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_Users]    Script Date: 11/15/2017 12:23:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users] ON [dbo].[Users]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Brand]  WITH CHECK ADD  CONSTRAINT [FK_Brand_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[Brand] CHECK CONSTRAINT [FK_Brand_Country]
GO
ALTER TABLE [dbo].[Buyer_OrderDetailsMapping]  WITH CHECK ADD  CONSTRAINT [FK_Buyer_OrderDetailsMapping_OrderDetails] FOREIGN KEY([OrderDetailID])
REFERENCES [dbo].[OrderDetails] ([ID])
GO
ALTER TABLE [dbo].[Buyer_OrderDetailsMapping] CHECK CONSTRAINT [FK_Buyer_OrderDetailsMapping_OrderDetails]
GO
ALTER TABLE [dbo].[Model]  WITH CHECK ADD  CONSTRAINT [FK_Model_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[Model] CHECK CONSTRAINT [FK_Model_Brand]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[OffersRequest]  WITH CHECK ADD  CONSTRAINT [FK_OffersRequest_OffersRequest] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[OffersRequest] CHECK CONSTRAINT [FK_OffersRequest_OffersRequest]
GO
ALTER TABLE [dbo].[OffersRequest]  WITH CHECK ADD  CONSTRAINT [FK_OffersRequest_SellerAdvertise] FOREIGN KEY([ProductId])
REFERENCES [dbo].[SellerAdvertise] ([Id])
GO
ALTER TABLE [dbo].[OffersRequest] CHECK CONSTRAINT [FK_OffersRequest_SellerAdvertise]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Users] FOREIGN KEY([SellerID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Users]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Brand]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Category]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Model] FOREIGN KEY([ModelID])
REFERENCES [dbo].[Model] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Model]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[Role_PermissionMapping]  WITH CHECK ADD  CONSTRAINT [FK_Role_PermissionMapping_Permission] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permission] ([Id])
GO
ALTER TABLE [dbo].[Role_PermissionMapping] CHECK CONSTRAINT [FK_Role_PermissionMapping_Permission]
GO
ALTER TABLE [dbo].[Role_PermissionMapping]  WITH CHECK ADD  CONSTRAINT [FK_Role_PermissionMapping_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[Role_PermissionMapping] CHECK CONSTRAINT [FK_Role_PermissionMapping_Role]
GO
ALTER TABLE [dbo].[SellerAdvertise]  WITH CHECK ADD  CONSTRAINT [FK_SellerAdvertise_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[SellerAdvertise] CHECK CONSTRAINT [FK_SellerAdvertise_Category]
GO
ALTER TABLE [dbo].[SellerAdvertise]  WITH CHECK ADD  CONSTRAINT [FK_SellerAdvertise_Model] FOREIGN KEY([ModelId])
REFERENCES [dbo].[Model] ([ID])
GO
ALTER TABLE [dbo].[SellerAdvertise] CHECK CONSTRAINT [FK_SellerAdvertise_Model]
GO
ALTER TABLE [dbo].[SellerAdvertise]  WITH CHECK ADD  CONSTRAINT [FK_SellerAdvertise_SellerAdvertise] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[SellerAdvertise] CHECK CONSTRAINT [FK_SellerAdvertise_SellerAdvertise]
GO
ALTER TABLE [dbo].[SellerAdvertise]  WITH CHECK ADD  CONSTRAINT [FK_SellerAdvertise_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[SellerAdvertise] CHECK CONSTRAINT [FK_SellerAdvertise_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Brand] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Brand]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
USE [master]
GO
